/************************
GENERAL
************************/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.background {
    background-color: #f2f2f2ff;
    /* position: relative; */
    /* min-height: 100% */
}



/************************
FILTER
************************/
.buttons-div {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    /* Make this scrollable when needed */
    overflow-x: auto;
    /* We don't want vertical scrolling */
    overflow-y: hidden;
    /* Make an auto-hiding scroller for the 3 people using a IE */
    -ms-overflow-style: -ms-autohiding-scrollbar;
    /* For WebKit implementations, provide inertia scrolling */
    -webkit-overflow-scrolling: touch;
    /* We don't want internal inline elements to wrap */
    white-space: nowrap;
    /* Remove the default scrollbar for WebKit implementations */
    /* &::-webkit-scrollbar {
        display: none;
    } */
}
.buttons-display {
    margin-left: 15px;
    margin-right: 15px;
    overflow: scroll;
    /* width: 425px; */
}

/* Button */
.filter-btn {
    color: #fff;
    background-color: #2296a2ff !important;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.filter-btn:hover {
    background-color: #1f737cff !important;
}
.first-btn {
    margin-left: 5px;
}

/************************
BUSINESS CARDS
************************/

.beer-img {
    /* width: 15.289px;
    height: 29.073px; */
    width: 40px;
    height: 40px;
    /* margin-left: 15px; */
}

.business-name {
    margin-bottom: 20px;
    padding-left: 15px;
}

.business-name-link {
    margin-top: 20px;
    margin-left: 15px;
    color: #d96d28ff !important;
    /* color: #4d4d4dff !important; */
    text-decoration: underline;
}

.business-name-link:hover {
    color: #b66925ff !important;
}



/************************
CROWDSOURCE REQUEST
************************/

.crowdsource-div {
    /* background-color: #255478ff; */
    /* background-color: #e9b521ff; */
    background-color: #deeaebff;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 0;
    bottom:0;

}
/* Quail */
.results-logo {
    width: 39.48px;
    height: 75.615px;
    margin-top: 20px;
}
/* Text */
.add-location-call {
    margin-top: 20px;
}

/* Button */
.add-location-btn {
    color: #fff;
    background-color: #d96d28ff !important;
    margin-bottom: 50px;
}
.add-location-btn:hover, .add-location-btn:active, .add-location-btn:visited  {
    background-color: #b66925ff !important;
}
