/************************
GENERAL
************************/

.background {
    background-color: #f2f2f2ff;
    /* background-color: #e9b521ff; */

}



/************************
BUSINESS CARDS
************************/

.business-name {
    margin-bottom: 20px;
}

.business-name-link {
    margin-top: 20px;
    margin-left: 15px;
    color: #d96d28ff !important;
    /* color: #4d4d4dff !important; */
    text-decoration: underline;
}

.business-name-link:hover {
    color: #b66925ff !important;
}



/************************
CROWDSOURCE REQUEST
************************/

/* Quail */
.results-logo {
    margin-top: 50px;
    width: 39.48px;
    height: 75.615px;
}
/* Text */
.add-location-call {
    margin-top: 20px;
}

/* Button */
.add-location-btn {
    color: #fff;
    background-color: #d96d28ff !important;
    margin-bottom: 100px;
}
.add-location-btn:hover, .add-location-btn:active, .add-location-btn:visited  {
    background-color: #b66925ff !important;
}
