/************************
DEAL CARD
************************/

.deal-card {
    padding-bottom: 0;
}
.card-body {
    margin-top: -20px;
    margin-bottom: -15px;
}
.card-title, .card-subtitle {
    font-size: .8em;
    /* color: #d96d28ff !important; */
}

/* Deal description */
.card-text {
    margin-top: 5px;
}

/* Days and times color */
.gray {
    color: #4d4d4dff;
}

/* Deal description color */
.light-gray {
    color: #808080ff;
}

.update-deal-btn {
    color: #fff;
    background-color: #d96d28ff !important;
    margin-bottom: 20px;
}

.update-deal-btn:hover {
    color: #fff;
    background-color: #b66925ff !important;
}