/************************
BUSINESS CARD
************************/

.biz-deal-card {
    margin-bottom: -50px;
}



/************************
CROWDSOURCE REQUEST
************************/

/* Button */
.edit-biz-btn {
    color: #fff;
    background-color: #d96d28ff !important;
    margin-bottom: 100px;
}
.edit-biz-btn:hover, .edit-biz-btn:active, .edit-biz-btn:visited  {
    background-color: #b66925ff !important;
}