@import url('https://fonts.googleapis.com/css?family=Varela+Round');

/* Matching all parent divs to height of page */
.mapHeight, .App {
    height: 100%;
}

/* Background */
.loading-page {
    background-color: #e9b521ff;
    height: 100%;
}

/* Logo */
.quail-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    height: 150px;
}

/* Text */
.welcome-message {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
}
.welcome-message-name {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Varela Round', sans-serif;
}
.slogan {
    text-align: center;
}